/*根据类型获得的流程性和乱序只是为了在试题中的属性，所以不见*/
.item-flowable, .item-shuffle{
	display: none;
}

.item-stem-file{
	font-size: 14px;
	width: 92%;
	padding: 2px 10px;
}
.item-stem-file:hover{
	border: 1px solid #f97;
}
.upload-label{
	display: inline-block;
	margin-right: 20px;
}

.item .item-options input[type="text"] {
	width:90%;
}

/*有小题的小题题干*/
.question input[type='text'] {
	width: 60%;
	margin-right: 20px;
}
.question input[type='file'] {
	width: 30%;
}

/*正确答案，是否严格匹配以及答案解析*/
.question-answer{
	counter-reset: questionAnswer 0;
	background-color: #efefef;
	margin:5px 0;
	padding: 5px 0;
}
.correct-answer{
	width: 50px;
	display: inline-block;
	counter-increment: questionAnswer 1;
}
.correct-answer:before{
	width: 16px;
	display: inline-block;
	content: counter(questionAnswer,upper-alpha)' ';
}
.question-answer input[type='text']{
	width: 54%;
}

.strict-match {
	margin-left: 20px;
}


/*完成添加按钮*/
.item-finish-btn{
	border: 1px solid #eee;
	border-top: none;
	padding: 2px 0px;
	text-align: center;
}
.item-finish-btn .complete-btn{
	float: none;
}