.question_type_show, .question_show{
	border: 1px solid #E5E5E5;
	padding-top: 5px;
}
.question_type_title, .question_title{
	font-size: 24px;
	font-family: '微软雅黑';
	margin-bottom: 10px;
	padding-left: 10px;
}
.question_type_description{
	color: #A6A6A6;
	margin-bottom: 20px;
	padding-left: 10px;
}

/* 这个是试题类型展示样式 */
.item{
	width: auto;
	margin: 0 auto;
	text-align: left;
}
.item-stem {
	margin-bottom: 10px;
	font-size: 15px;
}
.item-stem-content{
	background-color: #f6f6f6;
	padding: 8px 10px;
	margin: 0px 10px ;
}
.questions {
	border-radius: 5px;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 15px;
	counter-reset: question 0;
}
.question {
	margin-bottom: 10px;
	counter-increment: question 1;
}
.question:last-child {
	margin-bottom: 0;
}
.question:before {
	float: left;
	width: 2em;
	text-align: center;
	font-size: 15px;
	content: counter(question)'.';

} 
/* 试题选项和小题选项的样式 */
.item-options-list, .question-options {
	overflow: hidden;
	counter-reset: option 0;
	border-radius: 3px;
}
.item-options-list li.no-order-num {
	display: inline-block;
	margin: 3px 5px;
	padding-right: 2px;
}
.item-options-list li, .question-options li {
	counter-increment: option;
	background-color: #efefef;
	margin: 5px;
	padding: 3px 10px;
	border-radius: 3px;
}
.question-options li{
	margin-bottom: 5px;
}
.question-options li.inline {
	display: inline-block;
	margin: 0 5px;
}
.item-options-list li:last-child, .question-options li:last-child {
	margin-bottom: 0;
}
.item-options-list li.show-order-num:before, .question-options li:before {
	width: 2em;
	text-align: center;
	display: inline-block;
	content: counter(option, upper-alpha)' ';
}
.item-options-list li:hover, .question-options li:hover {
	background-color: #dedede;
}
/* 显示的作答区域 */
.question-stem + .blank-filling, .question-stem + .simple-answer {
	margin-top: 0px;
}
.blank-filling, .simple-answer {
	display: block;
	width: 90%;
	margin-left: 32px;
	margin-bottom: 8px;
	margin-top: 5px;
} 
.blank-filling {
	border: none;
	outline: none;
	border-bottom: 1px solid #56abe4;
	padding: 0 5px 3px;
}
.blank-filling:disabled {
	background-color: transparent;
}
.simple-answer {
	resize: none;
	border: 1px solid #56abe4;
	height: 150px;
}
.simple-answer:disabled {
	background-color: transparent;
}
.record-btn{
	margin-left: 34px;
	margin-top: 10px;
}
/*判断题选项样式*/
.question-answer-truefalse{
	background-color: #efefef;
	padding: 4px 30px;
	border-radius: 3px;
	margin-top: 10px;
}
.true-option, .false-option {
	width: 40px;
}
.true-option:before, .false-option:before{
	width: 16px;
	display: inline-block;
}
.true-option:before{
	content: 'T';
}
.false-option:before {
	content: 'F';
}