.question_type_show{
	border: 1px solid #eee;
	padding-top: 5px;
}
.question_type_title{
	font-size: 24px;
	font-family: '微软雅黑';
	margin-bottom: 10px;
	padding-left: 10px;
}
.question_type_description{
	color: #B8B8B8;
	margin-bottom: 20px;
	padding-left: 10px;
}
.question_type_info{
	color: #A3A3A3;
	font-size: 15px;
}

/* 这个是试题类型展示样式 */
.item{
	width: auto;
	margin: 0 auto;
	text-align: left;
	counter-increment: item 1;
	counter-reset: option-order-num 0;
}
.item:before {
	float: left;
	font-size: 14px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	content: "第"counter(item)"题  "
}
.item-stem {
	margin-bottom: 10px;
	font-size: 15px;
}
.item-options {
	width: auto;
	margin: 0 auto 20px;
	counter-reset: item-option 0;
}
.item-options td {
	counter-increment: item-option 1;
}
.item-options td:before {
	width: 2em;
	text-align: center;
	display: inline-block;
	content: counter(item-option, upper-alpha)'.';
}
.questions {
	border-radius: 5px;
	background-color: #eee;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 15px;
}
.question {
	margin-bottom: 10px;
	counter-increment: question 1;
	counter-reset: option-order-num 0;
}
.question:last-child {
	margin-bottom: 0;
}
.question:before {
	float: left;
	width: 2em;
	text-align: center;
	font-size: 15px;
	content: counter(question)'.'
}
.question-option .option{
	counter-increment:  option-order-num 1 
}
.question-option .option:before {
	content: counter(option-order-num, upper-alpha)' ';
}
.question-content {
	overflow: hidden;
	font-size: 15px;
}
label.question-option {
	width: auto;
	font-weight: normal;
}
label:last-child {
	margin-bottom: 0;
}
.question-option.block {
	display: block;
	text-align: left;
}
.question-option input {
	display: none;
}
.question-option .option {
	display: block;
	opacity: 0.7;			
	text-align: left;
	margin:5px 10px;
	padding: 3px 10px;
	font-size: 14px;
	background-color: #ccc;
/*  
	transition: background-color ease 0.3s, opacity ease 0.3s;*/
}
.question-option .hide-option {
	width: 3em;
}
.question-option .hide-option:hover, 
.question-option .show-option:hover {
	opacity: 1;
	background-color: #999;
}
.question-option input:checked + .option {
	opacity: 1;
	background-color: lightgreen;
}
.show-option:before {
	padding-right: 5px;
	border-right: 1px solid white;
}
.show-option .option-content {
	padding-left: 5px;
}
.question-stem {
	display: inline-block;
	text-align: center;
}
.answer-area input, .answer-area input:focus {
	width: auto;
	border: none;
	background-color: inherit;
	border-bottom: 1px solid #333;
	outline-width: 0px; 
}
.answer-area input:focus {
	border-bottom: 1px solid lightgreen;
}
.answer-area textarea {
	width: 100%;
}