/*单选按钮问题*/
#papermanage_question_type_new_flowable, 
#papermanage_question_type_new_shuffle {
	display: inline-block;
}
/*试题类型添加部分 类型结构样式*/
/*item structure表单隐藏*/
.item-structure {
	/*display: none;*/
}
/*试题类型添加步骤*/
.item-add-steps, .basic-infor, .item-stem, .item-options, .item-questions {
	border: 1px solid #eee;
	border-bottom: none;
	font-size: 16px;
}
.item-add-steps {
	padding: 15px;
}
/*各步骤具体内容框架样式*/
.item-add-steps > .step, .item-add-steps > .next-step  {
	opacity: 0.3;
	display: inline-block;
	font-size: 12px;
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #666;
	background-color: #f8f8f8;
	cursor: pointer;
}
.item-add-steps > .active {
	opacity: 1;
}
.item-add-steps > .active:hover {
	color: #333;
	background-color: #eee;
	border: 1px solid #eee;
}
.item-add-steps > .step {
	padding: 5px 8px;
	position: relative;
}
.item-add-steps > .next-step {
	font-size: 14px;
	margin: 0 10px;
	padding: 0px 5px;
}
.item-add-steps > .next-step img {
	margin-top: -3px;
	vertical-align: middle;
}
.complete-add {
	float: right;
	background-color: #f70;
	color: #fff;
	padding: 5px 8px;
}
/*添加小题样式*/
.add-question .add-question-of-type {
	z-index: 999;
	display: none;
	position: absolute;
	width: 120px;
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: #ccc;
	top: 29px;
	left: -1px;
}
.add-question:hover .add-question-of-type {
	display: block;
}
.add-question .add-question-of-type > li {
	cursor: pointer;
	text-align: center;
	padding: 5px 0;
	font-size: 12px;
	border-bottom: 1px solid #ddd;
}
.add-question .add-question-of-type > li:hover {
	background-color: #f8f8f8;
}
.add-question .add-question-of-type > li:last-child {
	border-bottom: none;
}
/*title样式*/
.right .title {
	position: relative;
	font-size: 14px;
	padding: 5px 15px;
	border-bottom: 1px solid #eee;
	background: #bbb url('/images/manage/arrow-down.png') no-repeat 99% 50%;
}
.right .title.close {
	background: #bbb url('/images/manage/arrow-right.png') no-repeat 99% 50%;	
} 
.title .title-oprations {
	/*display: none;*/
	position: absolute;
	right: -34px;
	top: -0px;
	width: 24px;
	padding: 3px 5px;
	background-color: #ddd;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.right .title:hover .title-oprations {
	display: block;
}
.title .title-oprations a {
	display: inline-block;
	text-align: center;
    width: 24px;
    height: 24px;
    margin-top: 0px;
    margin-right: 2px;
    border-radius: 2px;
    padding-bottom: 1px;
}
.title .title-oprations a img {
	margin-top: 4px;
}
.title .title-oprations a:hover {
	background-color: #aaa;
}
/*试题类型基本信息*/
.basic-infor > form {
	margin-top: 0;
	border: none;
	padding: 30px 30px 15px 30px;
}
/*试题类型内容*/
#item-area {
	padding-left: 0px;
	border-bottom: 1px solid #eee;

}
/*试题题干*/
.item .item-stem-area, .item .item-options-area, .item-questions .questions-area {
	width: 100%;
	display: table;
	overflow: hidden;
	vertical-align: text-top;
	line-height: 28px;
	padding-right: 5px;
}
.item .item-stem .params, .item .item-options .params, .item .item-questions .questions-area .params {
	display: table-cell;
	width: 160px;
	text-align: left;
	margin-right: 10px;
	padding: 10px;
	/*background-color: #dedede;*/
	border-right: 1px solid #eee;
}
.item .item-stem .params label, .item .item-options .params label, .item .item-questions .questions-area .params label {
	display: block;
}
.item-stem-content, .item-options-list, .item .item-questions .questions  {
	display: table-cell;
	padding: 10px;
}
/*试题选项和小题选项的样式*/
.item-options-list, .question-options {
	overflow: hidden;
	counter-reset: option 0;
	border-radius: 3px;
}
.item-options-list li.no-order-num {
	display: inline-block;
	margin: 3px 5px;
	padding-right: 2px;
}
.item-options-list li, .question-options li {
	counter-increment: option;
	background-color: #efefef;
	margin-bottom: 5px;
	padding-right: 5px;
	padding: 0px 10px;
	border-radius: 3px;
}
.question-options li.inline {
	display: inline-block;
	margin-right: 5px;
}
.item-options-list li:last-child, .question-options li:last-child {
	margin-bottom: 0;
}
.item-options-list li.show-order-num:before, .question-options li:before {
	width: 2em;
	text-align: center;
	display: inline-block;
	content: counter(option, upper-alpha)' ';
}
.item-options-list li:hover, .question-options li:hover {
	background-color: #dedede;
}
.delete-item-stem, .delete-item-option, .add-item-option-a, .delete-question-option, .add-question-option
 , .delete-question-a, .add-question-a, .add-question-stem-a, .delete-question-stem-a {
	float: right;
	/*display: none;*/
	text-align: center;
	width: 24px;
	height: 24px;
	margin-top: 2px;
	border-radius: 2px;
}
.delete-question-a, .add-question-a, .add-question-stem-a {
	float: none;
	display: block;
	margin: 3px auto;
}
/*小题操作区域*/
.question-operations  {
	position: absolute;
	right: -33px;
	background-color: #ddd;
	width: 32px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.delete-item-stem:hover, .delete-item-option:hover, .add-item-option-a:hover, 
.delete-question-option:hover, .add-question-option:hover, .delete-question-a:hover, 
.add-question-a:hover , .add-question-stem-a:hover  {
	background-color: #efefef;
}
.delete-question-stem-a:hover {
	background-color: #eee;
}
.item-stem-content:hover .delete-item-stem, .item-options-list li:hover .delete-item-option, .item-options-list li:hover .add-item-option-a, .question-options li:hover .delete-question-option
, .question-options li:hover .add-question-option {
	display: block;
}
/*小题区域样式*/
.item-questions .questions {
	overflow: hidden;
	counter-reset: question 0;
}
.item-questions .questions .question {
	position: relative;
	width: 93%;
	min-height: 90px;
	border-radius: 3px;
	padding: 2px 5px 2px;
	margin-top: 10px;
	counter-increment: question;
	border: 1px solid #ddd;

}
.item-questions .questions .question:hover {
	border: 1px solid #f70;
}
.item-questions .questions .question:first-child {
	margin-top: 0;
}
.item-questions .questions .question:before {
	width: 2em;
	text-align: center;
	float: left;
	display: inline-block;
	content: counter(question)' ';
}
.item-questions .questions .question-options li:only-of-type .delete-question-option {
	display: none;
}
/*小题区域内添加试题的样式*/
.item-questions .question-stem {
	margin-bottom: 5px;
}
