{% extends 'PaperManageBundle:QuestionBank:layout.html.twig' %}

{% block title %}试题库管理—试卷管理{% endblock %}

{% block loading %}正在加载年级信息列表……{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/common/editable-box.css') }}"/>
{% endblock %}

{% block right %}
    <h1>
       试题列表
    </h1>
  
    

    <!-- 批量删除对话框 -->
    <div class="multi-delete-dialog" title="批量删除确认" hidden>
        <p>确定要删除选中的年级信息吗？</p>
    </div>
{% endblock %}

