<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {%  stylesheets 
                '@AppBundle/Resources/public/css/reset.css'
                '@AppBundle/Resources/public/css/common.css'
                '@AppBundle/Resources/public/css/header.css'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{asset_url}}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}{% endblock %}

        {% block content %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
