/* 单个添加和批量导入的标签样式 */
.right .user-add{
	margin-bottom: 20px;
}
.right .user-add a{
	display: inline-block;
	margin-right: 50px;
	text-align: center;
	font-size: 18px;
	border: 1px solid #EBEBEB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 2px 2px 1px #E5E5E5;
	text-decoration: none;
	
}
.right .user-add a:last-child{
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0;
	color: #858585;
}
.right .user-add a:hover{
	background-color: #D9D9D9; 
}
.right .user-add a span{
 	font-size: 14px;
}
.add-selected{
 	background-color: #EDEDED;
 	font-weight: bold;
 	color: #3D3D3D;
}
.no-selected{
 	color: #D1D1D1;
}
#ge_userbundle_manager_new_roles {
	display: inline-block;
}

/* 表单的隐藏 */
.import-information-form{
	display: none;
}
