.er-rows-cols {
	overflow: hidden;
}
.er-rows-cols > div, .er-rows-cols > span {
	width: auto;
	display: inline-block;
	float: left;
}
.er-rows-cols > span {
	vertical-align: middle;
	line-height: 31px;
	font-size: 12px;
}
.er-rows-cols input.er-rows, .er-rows-cols input.er-cols {
	width: 40px;
	margin-right: 5px;
} 
.er-rows-cols label[for='systemmanagebundle_examinationroominfomation_col'] {
	width: 20px;
}
#selectedtable{
	margin-left: 120px;
}
#table{
	border: 1px solid #333;
	text-align: center;
}
.box{
	width: 15px;
	height: 15px;
	border: 1px solid #333;
	margin: 2px;
}
.color{
	background-color: #d7ffd7;
}
