.right h1 {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: normal;
}
.right h1 a {
	padding-left: 5px;
	font-size: 14px;
	color: inherit;
}
.right h1 a:hover {
	color: #f70;
}
.right h1 a img {
	vertical-align: baseline;
}
.right .common-action {
	line-height: 20px;
	margin-bottom: 10px;
}
.right .common-action a {
	display: inline-block;
	padding: 5px 8px;
}
.right .common-action a img {
	vertical-align: middle;
}

/*右侧表格样式*/
.right h1 + table {
	margin-top: 40px;
}
.right table {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #dedede;
	border-collapse: collapse;
}
.right table tr {
	border: 1px solid #dedede;
}
.right table tr th, .right table tr td {
	padding: 5px;
}
.right table thead tr {
	background-color: #999;
}
.right table tbody tr:nth-child(2n) {
	background-color: #f8f8f8;
}
.right table tr td {
	border: 1px solid #dedede;
}

/*右侧表单样式*/
.right form {
	width: 80%;
	margin: 40px auto 0;
	border: 1px solid #eee;
	padding: 50px 80px;
	font-size: 16px;
}
.right form > div {
	margin-bottom: 15px;
}
.right form > div:last-of-type {
	padding-left: 120px;
}
.right form label {
	display: inline-block;
	width: 100px;
	text-align: right;
	line-height: 20px;
	padding-right: 20px;
}
.right form input {
	width: 300px;
	padding: 5px;
	font-size: 14px;
}
.right form .btn {
	background-color: #f70;
	color: #fff;
	padding: 10px 15px;
}
.right form .btn:hover {
	background-color: #f80;
}
