{% extends 'SystemManageBundle:Grade:layout.html.twig' %}


{% block right %}
    <form action="{{ path('grade_import') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>
{% endblock %}


