/* 单个添加和批量导入的标签样式 */
.right .user-add{
	margin-left: 12px;
}
 .right .user-add a{
	display: inline-block;
	margin-right: 30px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	padding: 5px 10px;
}

.right .user-add a span{
 	font-size: 14px;
 	color: #858585;
}
.add-selected{
 	font-weight: bold;
 	color: #3D3D3D;
 	border: 1px solid #f70;
}
.no-selected{
 	color: #D1D1D1;
}
#ge_userbundle_manager_new_roles {
	display: inline-block;
}

/* 表单的隐藏 */
.import-information-form{
	display: none;
}
