/*通用样式*/
body {
	background-color: #fff;
	color: #444;
	font: 14px/1.5 "Microsoft YaHei","宋体",arial,Helvetica,sans-serif;
	height: 100%;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.common-block {
	width: 1180px;
	margin: 0 auto;
}

/*按钮的样式*/
.btn {
    border: 1px solid #f70;
    border-radius: 2px;
    color: #f70;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.1s, color 0.1s;
}
.btn:hover {
    background-color: #f82;
    border: 1px solid #f82;
    color: #fff;
}
/*common-action的样式*/
.btn-common-action {
    color: #666;
    border: 1px solid #ddd;
    margin-right: 10px;
}
.btn-common-action:hover {
    color: #666;
    background-color: #f8f8f8;
}