.wait-load{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #EEE9E9;
	opacity: 0.8;
	position:fixed; 
    top:0px; 
    left:0; 
    z-index:200;
}
.wait-load-image{
	width: 200px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -150px;
}

.wait-load .wait-load-image img{
	width:100px;
	height: 100px;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 40px;
}
.wait-load .wait-load-image p{
	text-align: center;
}