{% extends ':manage:manage_base.html.twig' %}

{% block left -%}
	<div class="left-title">系统管理</div>
	<aside class="manage-nav">
		<label>基本信息设置</label>
		<ul>
			<li>
				<a href="{{ path('grade_index') }}" class="{% if nav_title == 'grade' %}selected{% endif %}">年级信息维护</a>
			</li>
			<li>
				<a href="{{ path('academy_index') }}" class="{% if nav_title == 'academy' %}selected{% endif %}">学院信息维护</a>
			</li>
			<li>
				<a href="{{ path('examinationroom_index') }}" class="{% if nav_title == 'examination-room' %}selected{% endif %}">考场信息维护</a>
			</li>
		</ul>
		<label>系统维护</label>
		<ul>
			<li><a href="#">数据备份还原</a></li>
			<li><a href="#">数据字典维护</a></li>
		</ul>
		<label>题库管理</label>
		<ul>
			<li><a href="#">题库的导入更新</a></li>
		</ul>
		<label>学生信息管理</label>
		<ul>
			<li><a href="#">学生信息的导入与更新</a></li>
		</ul>
	</aside>
{% endblock %}