{% extends 'ManageBundleSystemManagementBundleGradeInformationBundle:GradeInformation:grade.html.twig' %}

{% block title %}添加年级—系统管理{% endblock %}

{% block right -%}
    <h1>编辑年级信息</h1>

    {{ form(edit_form) }}

<ul class="record_actions">
    <li>{{ form(delete_form) }}
    </a></li>
</ul>

<li>
    <a href="{{ path('gradeinformation') }}">
        返回列表
    </a>
</li>

{% endblock %}
